/* #FAFFB8
#C5F0A4
#35B0AB
#226B80
#414345 */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  height: 100vh;
  max-width: 100rem;
  margin: 0 auto;
}


header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
}

.logo {
  font-family: 'IBM Plex Serif', serif;
  width: 100%;
  line-height: 6rem;
  text-align: center;
}

.logo p:first-child {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 1rem;
  color: #226B80;
}
.logo p:last-child {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: .5rem;
  color: #35B0AB;
}

.btn {
  font-family: 'IBM Plex Serif', serif;
  letter-spacing: .1rem;
  margin: 1rem 0;
  background-color: #226B80;
  text-align: center;
  color: white;
  width: 80%;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  -webkit-box-shadow: 4px 4px 29px -5px #414345;
  -moz-box-shadow: 4px 4px 29px -5px #414345;
  box-shadow: 4px 4px 29px -5px  #414345;
  text-transform: uppercase;
  transition: .3s all;

}

.btn:hover {
  color: white;
  text-decoration-color: white;
  transform: translateY(.15rem);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
  margin: 1rem;
}

.menuLinks {
  display: none;
  color: #35B0AB;
  transition: .5s all;
  animation-duration: 1s;
}

a {
  transition: 1s all;
}

a:hover {
  color: #414345;
  text-decoration: underline;
  text-decoration-color: #414345;
  transform: translateY(.15rem);
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#hero {
  background-image: url(images/RachelWedding.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vw;
  width: 100%;
  max-width: 100rem;
  /* margin-bottom: 2rem; */
}


img {
  width: 100%;
  max-width: 30rem;
  height: auto;
  margin: 2rem 0;
  -webkit-box-shadow: 4px 4px 29px -5px #414345;
  -moz-box-shadow: 4px 4px 29px -5px #414345;
  box-shadow: 4px 4px 29px -5px  #414345;
}

.about {
  color: #414345;
  margin: 2rem;
  font-weight: 300;
  text-align: right;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  color: #35B0AB;
  font-family: 'IBM Plex Serif', serif;
  text-align: left;
  font-size: 7rem;
  margin-bottom: .5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  height: 8rem;
  background-color: #414345;
  color: #C5F0A4;
}

footer p {
  margin: 1rem;
}

@media screen and (min-width: 768px){
  .menuLinks {
    padding: 1rem;
    display: block;
  }

  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  header {
    height: 20rem;
  }
  #menuButton {
    display: none;
  }

  #viewGallery {
    display: none;
  }

  .about {
    flex-direction: row;
    justify-content: space-between;
    height: 40rem;

  }
  .hello {
    padding: 3rem;
    width: 50%;
  }

  #profilePic {
    width: 30rem;
    margin: 0;
  }

  a:hover {
    color: white;
    text-decoration: none;
    background-color: #35B0AB;
    transform: translateY(.15rem);
  }
}